@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams'), local('CaviarDreams'), url(/assets/fonts/caviardreams.woff2) format('woff2'), url(/assets/fonts/caviardreams.woff) format('woff'), url(/assets/fonts/caviardreams.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Bold'), local('CaviarDreams-Bold'), url(/assets/fonts/caviardreamsbold.woff2) format('woff2'), url(/assets/fonts/caviardreamsbold.woff) format('woff'), url(/assets/fonts/caviardreamsbold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Italic'), local('CaviarDreams-Italic'), url(/assets/fonts/caviardreamsitalic.woff2) format('woff2'), url(/assets/fonts/caviardreamsitalic.woff) format('woff'), url(/assets/fonts/caviardreamsitalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Bold Italic'), local('CaviarDreams-BoldItalic'), url(/assets/fonts/caviardreamsbolditalic.woff2) format('woff2'), url(/assets/fonts/caviardreamsbolditalic.woff) format('woff'), url(/assets/fonts/caviardreamsbolditalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url(/assets/fonts/CopperplateGothic-Bold.eot);
  src: url(/assets/fonts/CopperplateGothic-Bold.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/CopperplateGothic-Bold.woff2) format('woff2'),
  url(/assets/fonts/CopperplateGothic-Bold.woff) format('woff'),
  url(/assets/fonts/CopperplateGothic-Bold.ttf) format('truetype'),
  url(/assets/fonts/CopperplateGothic-Bold.svg#CopperplateGothic-Bold) format('svg');
  font-weight: bold;
  font-style: normal;
}
