body * {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}

a {
  background-color: transparent;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Caviar Dreams', sans-serif;
  color: #000;
  position: relative;
}

button, input, optgroup, select, textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

input, textarea {
  border: 1px solid #000000;
  background-color: #ffffff;
  height: 2.500vw;
  border-radius: 1.250vw;
  padding: 0 1.302vw;
  font-size: 0.833vw;
}

.btn-custom {
  border: 1px solid #000000;
  background-color: #000000;
  font-weight: 700;
  color: #fff;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 7.813vw;
  height: 2.344vw;
  border-radius: 1.198vw;
  font-size: 0.938vw;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  text-transform: uppercase;
}

.google {
  background-color: #c74a2d;
  border-color: #c74a2d;
  text-transform: uppercase;
}

.btn-custom.facebook,
.btn-custom.google {
  font-size: 0.833vw;
  width: 14.583vw;
  height: 2.500vw;
  padding-left: 0.417vw;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  img {
    width: 1.719vw;
    height: 1.719vw;
  }
  p {
    padding-left: 1.302vw;
  }
}

.facebook p, .google p {
  margin: 0 !important;
}

input:focus, textarea:focus {
  outline: none;
}

.page-title {
  color: #d6e2ec;
  font-family: "Copperplate Gothic", serif;
  font-weight: 700;
  text-align: center;
  font-size: 6.250vw;
  margin: 0.573vw 0 0;
}

.container {
  margin: 0 auto;
  width: 56.667vw;
}

.light {
  background: #fff;
  color: #000;
}

.warning {
  font-weight: 400;
}

.gallery {
  padding-top: 5vw;
  &__wrap {
    margin-bottom: 1.875vw;
    &:last-child {
      margin-bottom: 6.094vw;
    }
  }
  &__title {
    font-size: 1.563vw;
    margin-left: 1.667vw;
    margin-bottom: 2.917vw;
    font-weight: 700;
    //margin: 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: #000000;
      width: 9.375vw;
      height: 0.781vw;
      bottom: -1.198vw;
      left: 0.156vw;
    }
  }
  &__row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &__item {
    padding-left: 1.042vw;
    margin-bottom: 1.510vw;
    width: 33.333%;
    cursor: pointer;
    &:hover .item-top {
      z-index: 9;
    }
    .item-top {
      padding-left: 0.677vw;
      position: relative;
      z-index: 2;
    }
  }
  .time {
    margin-right: 0.573vw;
    font-size: 0.833vw;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-weight: 700;
    img {
      padding-right: 5px;
    }
  }
  .info {
    padding-bottom: 0.104vw;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &__item{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      &:last-child span {
        margin-left: 10px;
      }
    }
  }
  .quality {
    font-size: 0.833vw;
    font-weight: 700;
  }
  .details {
    width: 15.625vw;
    min-height: 4.740vw;
    margin-top: -2.135vw;
    padding: 0 0.417vw 0.677vw 0.781vw;
    font-size: 1.250vw;
    background-color: #d6e2ec;
    max-width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    &__title {
      font-size: 1.250vw;
      font-weight: 400;
    }
    .date {
      font-size: 0.833vw;
      font-weight: 700;
    }
    p {
      margin: 0;
    }
  }
  .download {
    padding: 0 0.417vw 0.677vw 0.781vw;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    right: 0;
    left: 0;
    background: #000;
    color: #fff;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
  }
}

.gallery__item:hover .download,
.show-video + .details .download {
  top: 0;
  bottom: 0;
}


.search {
  padding-top: 1.563vw;
  form {
    width: 37.604vw;
    padding-left: 1.667vw;
    text-align: center;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  input {
    width: 26.563vw;
    height: 2.344vw;
    //background-position: 0.417vw center;
    padding: 0 2.188vw;
    background: url(/assets/img/icon/search.png) 8px center no-repeat;
    background-size: auto 85%;
  }
}

.side-menu-page-wrap {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 226, 236, 0.8);
  z-index: 9999;
  padding-top: 180px;
}

.popup {
  border: 1px solid #000000;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  max-width: 100%;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
}

.popup p {
  color: #000000;
  font-weight: 700;
  margin: 0;
}

.popup__title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.upload-pictures .popup {
  text-align: center;
}

.popup .images-counter {
  color: #85a3bd;
  font-weight: 700;
  font-style: italic;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-more-pictures .popup-gallery {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* max-height: 91vh;
   overflow: auto;*/
}
.upload-pictures .popup {
  width: 40.625vw;
  height: 39.844vw;
}

.upload-pictures .popup__title {
  margin-bottom: 4.323vw;
}

.upload-pictures p {
  margin-bottom: 1.250vw;
}

.upload-pictures .btn-wrap.first {
  padding-top: 1.875vw;
  margin-bottom: 2.344vw;
}

.upload-pictures .btn-custom {
  width: 10.938vw;
}

.upload-pictures img {
  width: 10.417vw;
}

.upload-pictures .images-counter img {
  width: 2.500vw;
}

.popup .images-counter {
  font-size: 0.833vw;
  padding-top: 0.938vw;
}

.popup .images-counter span {
  padding-right: 1.146vw;
}

.add-more-pictures .popup {
  width: 53.125vw;
}

.add-more-pictures .popup-gallery {
  padding: 2.240vw 4.115vw 0;
  max-height: 75vh;
  overflow: auto;
}

.add-more-pictures .popup-gallery__item {
  padding: 0 0.313vw 1.198vw;
}

.add-more-pictures .popup-gallery__item .top p {
  font-size: 0.833vw;
}

.add-more-pictures .btn-wrap {
  padding-bottom: 2.240vw;
}

.add-more-pictures .btn-wrap .btn-custom {
  width: 10.938vw;
}
.popup {
  box-shadow: 0 0 0.573vw 0.260vw rgba(0, 0, 0, 0.14);
  border-radius: 1.250vw;
  padding-top: 2.292vw;
}

.popup .close-btn {
  width: 1.250vw;
  height: 1.250vw;
  right: 0.677vw;
  top: 0.729vw;
}

.popup p {
  font-size: 1.354vw;
}

.popup__title {
  font-size: 1.354vw;
}

.add-more-pictures .popup-gallery .popup-gallery__item {
  width: 25%;
}

.add-more-pictures .popup-gallery__item .top {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 5px;
}

.add-more-pictures .btn-wrap {
  text-align: center;
}

.delete {
  cursor: pointer;
}

.add-more-pictures .popup-gallery__item img {
  width: 100%;
}

.add-more-pictures .popup-gallery__item .top p {
  color: #180a21;
  font-weight: 700;
}

///////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1200px) {

  app-side-menu {
    width: 27%;
  }

  input, textarea {
    font-size: 14px;
  }

  .gallery .time,
  .gallery .quality,
  .gallery .details .details__title,
  .add-more-pictures .popup-gallery__item .top p {
    font-size: 14px;
  }

  .gallery .info__item {
    padding-bottom: 10px;
  }

  .gallery__title {
    font-size: 20px;
  }

  .side-menu-page-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .search form {
    width: 100%;
  }

  .search form input {
    width: 75%;
  }


  .gallery .details,
  .gallery .download {
    padding: 19px 7px 7px 7px;
  }


  .gallery .details {
    min-height: 48px;
    margin-top: -21px;
    width: 95%;
  }

  .gallery .details .date {
    font-size: 12px;
  }

  .gallery .info {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .search form .btn-custom {
    min-width: 20%;
  }

  .add-more-pictures .popup {
    width: 75%;
  }

  .overlay {
    padding-top: 80px;
  }

  .popup__title {
    font-size: 24px;
  }

  .upload-pictures .popup {
    width: 75%;
    height: auto;
  }

  .upload-pictures img {
    width: 200px;
  }

  .popup p {
    font-size: 16px;
  }

  .popup .images-counter {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  body * {
    line-height: normal !important;
  }

  input {
    height: 40px;
    border-radius: 20px;
  }

  textarea {
    border-radius: 20px;
  }

  .btn-custom {
    font-size: 16px;
  }

  .btn-custom, .edit-profile .btn-custom:not(.facebook):not(.google) {
    height: 40px;
    min-width: 80px;
    border-radius: 21px;
    padding: 0 12px;
  }

  .gallery .download img {
    display: none;
  }

  .search form input {
    height: 40px;
  }

  .upload-pictures .images-counter img {
    width: 30px;
  }

  .popup {
    border-radius: 20px;
    padding-top: 10px;
  }

  .add-more-pictures .btn-wrap .btn-custom {
    width: auto;
  }

  .add-more-pictures .btn-wrap {
    padding: 15px 0;
  }

  .add-more-pictures .popup-gallery .popup-gallery__item {
    width: 33.333%;
    padding: 5px 5px 0;
  }

  .popup .close-btn {
    width: 24px;
    height: 24px;
    right: 10px;
    top: 12px;
  }

  .upload-pictures .btn-custom {
    width: auto;
  }

  .upload-pictures .btn-variant {
    margin-bottom: 20px;
  }
  .popup .images-counter {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .search {
    padding: 75px 15px 0;
  }

  .gallery {
    padding: 30px 15px 0;
  }

  app-side-menu {
    width: 0;
  }

  .side-menu-page-wrap {
    position: relative;
  }

  .upload-pictures .popup {
    width: 95%;
  }

  .add-more-pictures .popup {
    width: 95%;
  }

  .add-more-pictures .popup-gallery .popup-gallery__item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery__item {
    width: 50%;
  }
}

@media screen and (max-width: 492px) {
  .gallery__item {
    width: 100%;
  }

  .popup {
    padding-top: 41px;
  }
  .add-more-pictures .popup-gallery .popup-gallery__item {
    width: 100%;
  }

  .gallery__item .item-top > img {
    width: 100%;
  }
}
